body {
    background: rgb(14, 41, 39);
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
}
body::selection {
    background: #000000;
    color: white;
}
#dices-button-container {
    display: flex;
}
.dices {
    margin: 0 auto;
    padding: 0 0.2rem;
}
h1 {
    margin: 0;
    font-size: 3rem;
    color: #bfc3c9;
}
#caras-input {
    margin: 0;
    font-family: 'Reenie Beanie', cursive;
    font-size: 4rem;
    text-align: center;
    width: 8rem;
    height: 3rem;
    border-radius: 0.3rem;
}
#total {
    margin: 1rem;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3rem;
    text-align: center;
    width: 5rem;
    height: 2rem;
    border-radius: 0.3rem;
}
input::selection {
    background: #000000;
    color: white;
}
button {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.3rem;
    padding: 0.8rem;
    color: white;
    background: rgb(85, 83, 83);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.roll-dices {
    color: #e7e7e7;
    background: #5e5e5e;
    border: 5px solid #e7e7e7; 
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.roll-dices::selection {
    background: #000000;
    color: white;
}
#roll-dice-1 {
    width: 13rem;
    height: 13rem;
    font-size: 13rem;
}
#roll-dice-2, #roll-dice-3 {
    display: inline-block;
    margin: 1rem;
    width: 13rem;
    height: 13rem;
    font-size: 13rem;
}
#roll-dice-4, #roll-dice-5, #roll-dice-6 {
    display: inline-block;
    margin: 1rem;
    width: 13rem;
    height: 13rem;
    font-size: 13rem;
}
#roll-dice-7, #roll-dice-8, #roll-dice-9, #roll-dice-0 {
    display: inline-block;
    margin: 1rem 0.5rem;
    width: 13rem;
    height: 13rem;
    font-size: 13rem;
}

#roll-dice-1::selection {
    background: transparent;
}

button:hover {
    font-size: 2.5rem;
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.6);
    transition: all 0.3 linear;
}

@media (max-width: 600px){
    h1 {
        font-size: 2.5rem;
    }
    #caras-input {
        font-size: 2.5rem;
        width: 5rem;
        height: 2rem;
    }
    #total {
        font-size: 2rem;
        width: 3rem;
        height: 2rem;
    }

    button {
        font-size: 1.8rem;
    }
    button:hover {
        font-size: 2rem;
    }
    #roll-dice-1 {
        width: 8rem;
        height: 8rem;
        font-size: 8rem;
    }
    #roll-dice-2, #roll-dice-3 {
        display: inline-block;
        margin: 1rem 0.5rem;
        width: 8rem;
        height: 8rem;
        font-size: 8rem;
    }
    #roll-dice-4, #roll-dice-5, #roll-dice-6 {
        display: inline-block;
        margin: 1rem 0.5rem;
        width: 8rem;
        height: 8rem;
        font-size: 8rem;
    }
    #roll-dice-7, #roll-dice-8, #roll-dice-9, #roll-dice-0 {
        display: inline-block;
        margin: 1rem 0.5rem;
        width: 8rem;
        height: 8rem;
        font-size: 8rem;
    }
    
}